.notification {
  border-width: 1px;
  border-style: solid;
  padding: var(--gap-large);
}

.notification--success {
  color: var(--color-green);
  border-color: var(--color-green);
}

.notification--error {
  color: var(--color-red);
  border-color: var(--color-red);
}

.notification--info {
  color: var(--color-blue);
  border-color: var(--color-blue);
}