@import '../../styles/variables/colors.css';
@import '../../styles/variables/form.css';
@import '../../styles/variables/font-size.css';

.FormButton {
  height: var(--form-height);
  font-size: var(--font-size-default);
  padding: var(--gap-small);
  border: 0;
}

.FormButton:not(:disabled) {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.FormButton:disabled {
  background-color: var(--color-grey);
}