@import '../../styles/variables/font-size.css';
@import '../../styles/variables/form.css';
@import '../../styles/variables/gaps.css';

.FormInput {

}

.FormInput__Label {
  display: inline-block;
  margin-right: var(--gap-large);
}

.FormInput__Input {
  height: var(--form-height);
  font-size: var(--font-size-default);
  padding: var(--gap-small);
}